HimLetters/Connected Services/ServiceReferenceLetterDetails/ServiceLetterDetails1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HimLettersWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HimLettersWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfgetLetterDetail_Results">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="getLetterDetail_Results" nillable="true" type="tns:getLetterDetail_Results" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfgetLetterDetail_Results" nillable="true" type="tns:ArrayOfgetLetterDetail_Results" />
  <xs:complexType name="getLetterDetail_Results">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chart_On_Hold" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charts_To_Include" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deficiencies_To_Include" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deficient_Day_Range_End" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deficient_Day_Range_Start" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Include_Documents" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Include_Visits" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Physicians_To_Include" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getLetterDetail_Results" nillable="true" type="tns:getLetterDetail_Results" />
  <xs:complexType name="LetterDetailsException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LetterDetailsException" nillable="true" type="tns:LetterDetailsException" />
</xs:schema>