HimLetters/Connected Services/ServiceReferenceFacility/ServiceFacility2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49962/ServiceFacility.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HimLettersWCFService" />
  <xs:element name="GetFacility">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HimLettersWCFService" minOccurs="0" name="GetFacilityResult" nillable="true" type="q1:ArrayOfgetFacility_Results" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>