HimLetters/Connected Services/ServiceReferencePhysicianAll/ServicePhysicianAll.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HimLettersWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HimLettersWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfgetPhysiciansList_Results">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="getPhysiciansList_Results" nillable="true" type="tns:getPhysiciansList_Results" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfgetPhysiciansList_Results" nillable="true" type="tns:ArrayOfgetPhysiciansList_Results" />
  <xs:complexType name="getPhysiciansList_Results">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getPhysiciansList_Results" nillable="true" type="tns:getPhysiciansList_Results" />
  <xs:complexType name="PhysicianAllException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhysicianAllException" nillable="true" type="tns:PhysicianAllException" />
</xs:schema>