HimLetters/Connected Services/ServiceReferenceLetterType/ServiceLetterType1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49962/ServiceLetterType.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HimLettersWCFService" />
  <xs:element name="GetLetterTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLetterTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HimLettersWCFService" minOccurs="0" name="GetLetterTypeListResult" nillable="true" type="q1:ArrayOfgetLetterTypeList_Results" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>