HimLetters/Connected Services/ServiceReferenceLetterType/ServiceLetterType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HimLettersWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HimLettersWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfgetLetterTypeList_Results">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="getLetterTypeList_Results" nillable="true" type="tns:getLetterTypeList_Results" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfgetLetterTypeList_Results" nillable="true" type="tns:ArrayOfgetLetterTypeList_Results" />
  <xs:complexType name="getLetterTypeList_Results">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getLetterTypeList_Results" nillable="true" type="tns:getLetterTypeList_Results" />
  <xs:complexType name="LetterTypeException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LetterTypeException" nillable="true" type="tns:LetterTypeException" />
</xs:schema>