HimLetters/Connected Services/ServiceReferencePassword/ServicePassword2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HimLettersWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HimLettersWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfgetPass_Results">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="getPass_Results" nillable="true" type="tns:getPass_Results" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfgetPass_Results" nillable="true" type="tns:ArrayOfgetPass_Results" />
  <xs:complexType name="getPass_Results">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getPass_Results" nillable="true" type="tns:getPass_Results" />
</xs:schema>